<h2>All record </h2>


<table>
  <tr>
    <th>Book Name</th>
    <th>Author email</th>
  </tr>

  <tbody>

    <% @accout.each do |f| %>
      <tr>
        <td> <%= Book.find(f.book_id).bookName %> </td>
        <td> <%= Author.find(f.author_id).email %> </td>
        <!-- <td> <%= time_ago_in_words(f.created_at) %> ago </td> -->
      </tr>
    <% end %>
  <tbody>
</table>
